<div class="container main-container">

    <h1>Portal Cidadão</h1>
    <hr>

    <div class="row text-center">
        <div class="col-lg-6 col-md-6 mb-6">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/home.svg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">IPTU</h4>
                </div>
                <div class="card-footer p-0">
                    <a href="/cidadao/iptu" class="btn btn-secondary btn-block">Abrir</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 mb-6">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/medical.svg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Consulta Médica</h4>                    
                </div>
                <div class="card-footer p-0">
                    <a href="/cidadao/consulta" class="btn btn-secondary btn-block">Abrir</a>
                </div>
            </div>
        </div>
    </div>
</div>